li.dashboard_notify.dropdown

    // start dashboard_notify_btn
    div.dashboard_notify_btn(id="dashboard_notify_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        <i class="fas fa-bell"></i>
    // ** end dashboard_notify_btn

    // start dashboard_notify_option
    ul.dashboard_notify_option.list-unstyled.m-0.p-0.dropdown-menu(aria-labelledby="dashboard_notify_btn")
        li.dropdown-item
            a(href="userprofile.html") Mike John responded to your email
        li.dropdown-item
            a(href="userprofile.html") You have 5 more tasks
        li.dropdown-item
            a(href="userprofile.html") Your friend Michael is in town
        li.dropdown-item
            a(href="userprofile.html") Another notification 
        li.dropdown-item
            a(href="userprofile.html") Another one
    // ** end dashboard_notify_option    