li.dashboard_profile.dropdown
    // start dashboard_profile_inner
    div.dashboard_profile_inner.d-flex.align-items-center(id="dashboard_profile_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        // start profile_img
        .img
            img(src="imgs/dashboard/profile_thumb_img.png", alt="profile_img_thumb", class="img-fluid")
        // ** end profile_img

        .profile_caret
            <i class="fas fa-caret-down"></i>
    // ** end dashboard_profile_inner

    // start dashboard_profile_option
    ul.dashboard_profile_option.list-unstyled.m-0.p-0.dropdown-menu(aria-labelledby="dashboard_profile_btn")
        li.dropdown-item
            a(href="userprofile.html") profile
        li.dropdown-item
            a(href="userprofile.html") settings
        li.dropdown-item.make_line
            a(href="userprofile.html") logout
    // ** end dashboard_profile_option      