meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
// fontawesome
link(rel="stylesheet", href="fonts/css/fontawesome-all.min.css")
// css file
link(rel="stylesheet", href="css/style.min.css")
link(rel="icon" href="imgs/dashboard/favicon-min.png" type="image/x-icon")
block page_title
    title dashboard