// jquery
script(src="js/libs/jquery-3.4.1.min.js")
block charts
    // charts
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
    // chart file
    script(src="js/libs/mycharts.js")
// bootstrap
script(src="js/libs/bootstrap.bundle.min.js")
// js file
script(src="js/main-min.js")
