footer.d-flex.align-content-center
    .container-fluid
        .row
            .col-md-6
                ul.list-unstyled.d-flex.align-items-center.p-0.justify-content-center.justify-content-md-start
                    li
                        a(href="https://m-hussien.netlify.com") about me
                    li
                        a(href="#") blog

            .col-md-6.d-block.d-md-flex.justify-content-end.text-center
                p.global_p &copy; 2020 <a href="https://m-hussien.netlify.com">sadam</a> for a better web.