section.dashboard.position-relative
    .container-fluid
        .dashboard_inner.position-relative

            // start dashboard_sidebar
            include ../layout/dashboard_sidebar
            // ** end dashboard_sidebar

            // start dashboard_content
            include ../components/dashboard_content
            // ** end dashboard_content

