extends index

block page_title
    title user profile


block link_title
    - var link = "user profile";

//- sidbar 
block append sidbar
    //- start profile_content
    include pug_styles/pages/profile_content
    //- end profile_content

block dashboard_content



block charts
