div.profile_card.position-relative
    .profile_card_inner.card
        // start img
        .profile_img
            .profile_img_shap1.shape
            .profile_img_shap2.shape
            .profile_img_shap3.shape
            .profile_img_shap4.shape
            .img
                img(src="imgs/dashboard/profile_img-min.jpg", alt="profile img", class="img-fluid")
        // ** end img

        // start profile_card_content.card_body
        .profile_card_content.card_body
            h6.card-title randy orten
            span.card-subtitle ceo/co-founder
            p.global_p.card-text Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is... 
        // ** end profile_card_content.card_body

        // start profile_card_mylinks.card-footer
        .profile_card_mylinks.card-footer
            ul.list-unstyled.d-flex.align-items-center.justify-content-center.m-0.p-0
                li
                    a(href="#") <i class="fab fa-facebook-f"></i>
                li
                    a(href="#") <i class="fab fa-twitter"></i>
                li
                    a(href="#") <i class="fab fa-instagram"></i>
        // ** end profile_card_mylinks.card-footer
