.tabel_describe.task_globals.d-none.d-sm-block
    // start tabel_describe_title
    h6.tabel_describe_title simple tabel
    // ** end tabel_describe_title
    table.table
        thead
            tr
                th() NAME
                th() COUNTRY
                th() CITY
                th() SALARY
        tbody
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738
            tr
                td Dakota 
                td Niger
                td Oud-Turnhout	
                td $36,738

