.t_item.task_globals
    .t_item_inner   
        // start t_item_head
        .t_item_head
            h6.t_item_head_title.m-0
                span.text tasks(5)
                span.sub-title today
        // ** end t_item_head

        // start t_item_body
        .t_item_body
            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task1")
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title Update the Documentation
                        p.global_p Dwuamish Head, Seattle, WA 8:47 AM
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task2", checked)
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title GDPR Compliance
                        p.global_p The GDPR is a regulation that requires businesses to protect the personal data and privacy of Europe citizens for transactions that occur within EU member states.
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task3")
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title Solve the issues
                        p.global_p Fifty percent of all respondents said they would be more likely to shop at a company
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task4")
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title Release v2.0.0
                        p.global_p Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task5")
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title Export the processed files
                        p.global_p The report also shows that consumers will not easily forgive a company once a breach exposing their personal data occurs.
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

            .single_task
                // start left_area
                .left_area
                    // start checkbox
                    .checkbox_area  
                        input(type="checkbox", name="check_task6")
                    // ** end checkbox

                    // start single_task_content
                    .single_task_content
                        h6.single_task_content_title Arival at export process
                        p.global_p Capitol Hill, Seattle, WA 12:34 AM
                    // ** end single_task_content
                // ** end left_area

                // start task_edit
                .task_edit
                    <i class="fas fa-pencil-alt"></i>
                // ** end task_edit

        // ** end t_item_body
