section.tasks.position-relative
    .container-fluid
        // start tasks_items
        .tasks_items
            .row

                // start t_item
                .col-lg-6
                    include task_item
                // ** end t_item

                // start tabel_describe
                .col-lg-6
                    include tabel_describe
                // ** end tabel_describe

        // ** end tasks_items